.landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/three-women-looking-at-the-computer-3894378.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contents>h1 {
    color: white;
    font-size: 30px;
}

#contents>p {
    font-size: 24px;
    color: white;
}

#about {
    text-align: center;
}

#services>h2 {
    text-align: center;
    padding-top: 50px;
}

.row {
    padding-top: 20px;
}